.weather-card {
    background: black (255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
  }
  
  .weather-card h3 {
    font-weight: 300;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .weather-card p {
    font-size: 1.2em;
    margin: 5px 0;
  }

  .weather-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .weather-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  